.picture {
    grid-area: A;
    border-radius: 150%;
    justify-content: center;
}
#css-curiosidades ,#css-competencias{
    font-size: 20px;
}
p {
    font-size: 18px;
}

.container {
    display: flex;
    /* flex-direction: row; */
    margin: 100px 300px 0;
    background-color: #CCD1D1;
}
.col-a {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #395886;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #79A6BE;
}
.col-b {
    margin-left: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.contact {
    font-family: monospace;
}

.apresentation {
    font-size: 20px;
}

#experience, #education{
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
}
#skills {
    grid-column-start: 1;
    grid-column-end: 2;
}

#Curiosidades {
    margin-top: 420px;
}

#description {
    display: flex;
}

#photo {
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 45px;
}

.apresentation h1 {
    color: #395886;
}

h2 {
    color: #79A6BE;
}

.margin {
    margin-left: 20px;
}

#name {
    margin-top: 60px;
}